<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
  <bean id="helloworld" class="helloWorld.HelloWorld">
     <property name="name" value="Spring"></property>
  </bean>
  
  <bean name="address" class="setter.Address">
    <constructor-arg name="city" value="lz"></constructor-arg>
    <constructor-arg name="country" value="CN"></constructor-arg>
  </bean>
  
  <bean name="employee" class="setter.Employee">
    <property name="firstName" value="little"></property>
    <property name="lastName" value="motor"></property>
    <property name="add" ref="address"></property>
  </bean>
  
</beans>